*{
    margin: 0;
    background-color: #f5f8ff;
}

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.noto-serif-<uniquifier> {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.all-header{
    display: flex;
    justify-content: space-around;
    max-width: 1300px; 
    margin: 0 auto;
    align-items: center;
}

.logo img{
    width: 100%;
}

.nav {
    margin-left: auto;
    padding-right: 30px;
}
.nav ul li{
    display: inline;
    padding-left: 25px;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
}

.nav ul li a{
    color: #8987A1;
    text-decoration: none;
}

.nav ul li a:hover {
    color: #252432;
    font-weight: 600;
}

.nav .active {
    color: #252432;
    font-weight: 600;

}

.cart i {
    font-size: 18px;
    padding-right: 10px;
}

.cart p {
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px; 
    margin: 0 auto;
    padding: 120px 50px;
}

.first-heading{
    color: #000000;
    font-family: "Noto Serif", serif;
    font-size: 4.6rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.color-line{
    color: #E95A08;
}

.first-paragraph{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    padding-right: 150px;
}

.container{
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.heading-para{
    text-align: center;
    padding-bottom: 50px;
}

.heading-two{
    color: #000000;
    font-family: "Noto Serif", serif;
    font-size: 3.1rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.color-line-two{
    color: #E95A08;

}

.second-paragraph{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    padding: 0 500px;
}

.eight-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 40px;
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.box {
    width: 100%;
    max-width: 100%;
    text-align: center;
}

.box img {
    width: 100%;
    height: auto;
    display: block;
}

.title{
    color: #111111;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
}

.price{
    color: #111111;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    padding-bottom: 10px;

}

.cart-btn  {
    background-color: #E95A08;
    padding: 10px 15px;
    width: 100%;
    border: none;
}

.cart-btn a{
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;

}

.container-two{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1300px;
    justify-items: center;
    margin: 100px auto;
    gap: 50px;
    flex-wrap: wrap;
}

.first-cols-img {
    position: relative;
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    overflow: visible; 
}

.first-cols-img .main-img {
    width: 100%;
    display: block;
}

.first-cols-img .img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.first-cols-img .badge {
    position: absolute;
    top: -80px;
    right: -60px;
    width: 220px;
    z-index: 10;
    border-radius: 100px;
    background: transparent;
}

.second-cols-headpara {
    width: 600px;
    max-width: 600px;
}

.second-cols-headpara h2 {
    color: #000000;
    font-family: "Noto Serif", serif;
    font-size: 3.1rem;
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 60px;
}

.second-cols-headpara p {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 100px;
    padding-bottom: 20px;
}

.para-third{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.para-third i{
    font-size: 8px;
    color: rgba(0, 0, 0, 0.5);
    padding-right: 15px;
}

.deals{
    padding: 60px 20px;

}

.container-third{
    max-width: 1300px;
    margin: 0 auto;

}
.para-four{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    padding: 0px 300px;
}

.promo{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.promo-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.promo-card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.promo-one{
    background-image: url(images/deal-bloom.png);
    height: 150px;
    background-size: cover;
    background-position: center;
}

.promo-two{
    background-image: url(images/deal-ana.png);
    height: 150px;
    background-size: cover;
    background-position: center;
}

.promo-three{
    background-image: url(images/deal-zabo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 320px;
    flex: 2;
}

.overlay-text {
    position: relative;
    z-index: 1;
    background-color: transparent;

}

.overlay-text h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: transparent;
    font-family: "Noto Serif", serif;

}

.heading-five{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: transparent;
    font-family: "Noto Serif", serif;
}

.overlay-text a {
    display: inline-block;
    padding: 8px 16px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: underline;
    font-size: 18px;
    background-color: transparent;

}

.promo-card::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.section-five {
    background-image: url('images/news-letter-bg.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 100px 20px;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-five {
    background: transparent;
    width: 100%;
    max-width: 1300px;
    justify-items: center;
}

.get-in-touch {
    background: transparent !important;
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 0;  
}

.get-in-touch h2 {
    color: white;
    font-size: 3rem;
    margin-bottom: 20px;
    background: transparent;
    font-family: "Noto Serif", serif;

}

.get-in-touch form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
}

.get-in-touch input[type="email"] {
    padding: 10px;
    min-width: 400px;
    height: 30px;
    border: none;
    font-size: 16px;
}

.get-in-touch button {
    padding: 10px 20px;
    background: #E95A08;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.get-in-touch button:hover {
    background: #d14d00;
}

.footer{
    padding: 50px 0;
}


.four-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 40px;
    max-width: 1300px; 
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.cols-one img{
    width: 60%;
    height: auto;
}

.footer-para{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    padding-top: 20px;
}

.cols-two ul li{
    list-style-type: none;
    padding-bottom: 30px;
}

.cols-two ul li a{
    color: rgba(0, 0, 0, 0.5);
    size: 1.5rem;
    font-family: "Inter", sans-serif;
    text-decoration: none;
  
}

.cols-three ul li{
    list-style-type: none;
    padding-bottom: 30px;
}

.cols-three ul li a{
    color: rgba(0, 0, 0, 0.5);
    size: 1.5rem;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.cols-four img{
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .nav {
        display: none;
    }
    .logo img,
    .cart {
        display: inline-block;
    }

    .logo img{
        width: 60%;
    }
    .all-header{
        display: flex;
        justify-content: space-between;
        margin: 20px 20px;
        align-items: center;

    }

   .hero-section{
        padding: 80px 20px;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .first-heading{
        color: #000000;
        font-family: "Noto Serif", serif;
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 20px;
    }

    .first-paragraph{
        color: rgba(0, 0, 0, 0.5);
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        padding-right: 20px;
    }

    .second-cols img{
        width: 100%;
        height: auto;
        padding-bottom: 50px;
    }

    .heading-para{
        padding: 0px 20px;
    }

    .heading-two {
        font-size: 2rem;
    }

    .second-paragraph{
        font-size: 1rem;
        padding-bottom: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .eight-cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      
    }
    .container-two{
        justify-items: center;
        margin: 0px 20px;
        flex-wrap: wrap;
    }

    .badge{
        display: none;
    }
    

    .second-cols-headpara h2 {
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 20px;
        padding-left: 0px;
    }

    .second-cols-headpara p {
        margin-bottom: 15px;
        color: rgba(0, 0, 0, 0.5);
        padding-bottom: 20px;
        padding-left: 0px;
    }

     .promo {
        flex-direction: column;
    }

    .promo-left {
        flex-direction: column;
        gap: 20px;
    }

    .promo-card {
        height: 200px; 
        width: 100%;  
    }

    .promo-three {
        flex: none;
        height: 200px;
        background-size: cover;
        background-position: center;
    }

    .para-four {
        padding-bottom: 50px;
        padding-left: 0;
        padding-right: 0;
        font-size: 1rem;
    }

    .heading-five{
        font-size: 1.5rem;
    }

    .section-five {
        min-height: 150px;
    }

    .get-in-touch h2{
        font-size: 1.5rem;
    }
    .get-in-touch input[type="email"] {
        padding: 10px;
        min-width: 200px;
        height: 30px;
        border: none;
        font-size: 16px;
    }
    .four-cols {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        justify-items: left;
        padding-left: 20px;

    }
    ul{
        margin: 0;
        padding: 0;
        text-align: left;
    }

    .cols-four img{
        padding-left: 0px;
        padding-right: 20px;
    }


}